/*This contain the site font which is taken from google */
@import url('https://fonts.google.leapis.com/css?family=pacifico');
/*The body settings which is the page settings*/
body{
    background-color: coral;

    max-width: 1000px;
    margin: auto;
    margin-top: 70px;
    padding: 30px;
}
/*settings of the links*/
nav a{
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
}
/*the header tag and the main tag which controle the texts and the links*/
header, main{
    background-color: #f5f8bb;
    border-radius: 20px;
    padding: 20px;
    min-height: 100px;
}

/*the image settings*/
.omg{
    width: 100px;
    float: left;
}
/*the list settings*/
nav li{
    display: inline;
    margin-left: 10px;
}
/*this controle the titles and the questions fonts*/
h1, h2{
    font-family: 'Pacifico', cursive;
}
/*this one controle the text placement*/
main{
    margin-top: 20px;
    line-height: 1.5em;
}
/*all this down is to check how the site will looks like on the other devices with differnet sizes like big screens or phones*/
@media only screen and (max-width: 700px){
    *{
        margin: 0;
        padding:0;
    }
    h1{
        text-align: center;
        background-color: white;
        font-size: 1.6em;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .omg{
        display: none;
    }
    
    nav a{
        display: inline-block;
        width: 100%;
        margin-bottom: 10px;

        background-color: aquamarine;
        text-align: center;
        text-decoration: none;
        margin-left: -8px;

        padding-top: 10px;
        padding-bottom: 10px;
    }

    h2{
        margin-top: 10px;
        margin-bottom: 20px;
        text-align: center;
    }

    ul{
        list-style-type: none;
        margin-top: 20px;
        margin-left: 0px;
    }
}
